# Database (PostgreSQL)
DIRECT_DATABASE_URL="postgresql://user:password@localhost:5432/agwuse"
DATABASE_URL="postgresql://user:password@localhost:5432/agwuse"

# Auth.js
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY=""

# Paystack
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=""
PAYSTACK_SECRET_KEY=""

# File Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Upstash Redis (Rate Limiting)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
